.tituloalbum{
    text-align: center;
}

.artistname{
    text-align: center;
    
   
}
.artist{
    text-decoration: none;
    color: white;
}

.artistname:hover {
    transform: translateY(2px);
}
.salidaalbum{
    text-align: center;
}

.img{
    display: block;
    margin: auto;
}
