/*TIPOGRAFIAS
font-family: 'Montserrat', sans-serif;
font-family: 'Varela Round', sans-serif;
*/
/*mobile version*/
body.body{
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.897), rgb(47, 47, 47));
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    font-weight: 400;
    height: 100%;
}
/*container*/
.container{
    display: flex;
    flex-direction: column;
    padding: 25px;
    row-gap: 20px;
}
a{
    text-decoration: none;
}
.music-container{
    display: flex;
    flex-direction: column;
    border-bottom: solid  rgba(187, 187, 187, 0.74) 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.title{
    font-size: 40px;
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
}
.content_artista{
    display: flex;
    flex-direction: column;
}
.content_albums{
    display: flex;
    flex-direction: column;
}
.content_tracks{
    display: flex;
    flex-direction: column;
}
.music-album{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color:  #2b29299d;
    text-align: left;
    border-bottom: 1px rgba(70, 69, 69, 0.315) solid;
    align-items: center;
}
.music-track{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color:  #2b29299d;
    text-align: left;
    border-bottom: 1px rgba(70, 69, 69, 0.315) solid;
    align-items: center;
    margin-bottom: 10px;
}
.music-artist{
    display: flex;
    flex-direction: column ;
    padding: 10px;
    background-color:  #2b29299d;
    justify-content: left;
    border-bottom: 1px rgba(70, 69, 69, 0.315) solid;
    align-items: center;
    border-radius: 20px;
}

.music a{
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0px;
}
.mobile{
    height: 200px;
    width: auto;
}
.portadas:hover{
    background: rgba(104, 104, 104, 0.123);
}
.artist-title{
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    color: white;
    font-size: 2rem;
}
.artist-info{
    margin: 0px;
    font-size: 15px;
    font-weight: 200;
    vertical-align: bottom;
    margin-top: 2px;
    color: white;
    text-align: center;
}
.album-title{
    font-weight: 600;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0px;
    color: white;
    font-size: 1rem;
    flex: 1;
}
.gnr-title{
    text-align: left;
    margin: 0px;
    font-size: 1rem;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mrg-btn{
    margin-bottom: 10px;
}
.puesto{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.radius{
    border-radius: 100%;
}
.artist-title-div{
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}
#div-trk{
    margin-left: 10px;
}
#div-alb{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.mrg-btn{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.cuadrado{
    height: 55px;
    width: 55px;
}
.player{
    height: 30px;
    margin: 0px;
    width: 250px;
}
.audio-div{
    width: 100%;
}
.fecha{
    font-size: 0.8rem;
    text-align: left;
    margin: 0px;
    margin-top: 5px;
}
.div-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    align-items: center;
}
.div-p{
    width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.button{
    width: 25px;
    height: 25px;
    color: black;
    border: 0px solid;
    padding: 0px;
    background:linear-gradient(to bottom, #ff1e56, #ffac41);;
    border-radius: 100%;
    font-size: 10px;
}
.first{
    margin-top: 0px;
}
/* Tablet */
@media (min-width: 768px){
    .content{
        grid-template-columns: repeat(4, 1fr);
    }
}

/*Compu*/ 
@media (min-width:1024px){
        /*conteiner*/
        body.body{
            margin-left: 130px;
        }
        .container{
            display: flex;
            flex-direction: column;
        }
        .content_artista{
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
            row-gap: 10px;
        }
        .content_albums{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
            row-gap: 10px;
            text-align: left;
        }
        .div-img{
            text-align: left;
            height: 100%;
        }
        .cuadrado{
            height: 100px;
            width: 100px;
        }
        .music-artist{
            flex-direction: row ;
            border-radius: 150px;
        }
        .artist-title{
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 6rem;
            line-height: 85px;
        }
        .artist-info{
            margin-left: 15px;
            text-align: left;
        }
        /*CLASES*/
        .mas{
            grid-column: 1/3;
        }
        .autoheight{
            height: 70px;
            width: auto;
            margin-right: 10px;
        }
        .mrg-btn{
            margin-bottom: 10px;
        }
    }
        






