.tituloalbum{
    text-align: center;
    font-size: 10px;
    margin-left: 20px;
}

.artistname{
    text-align: center;
    position: relative;
    top: 10px;
    margin-left: 20px;
    font-weight: bold;
    
   
}
.artist{
    text-decoration: none;
    color: white;
}

.artistname:hover {
    transform: translateY(2px);
}
.salidaalbum{
    text-align: center;
    
}
.hola{
    width: auto;
}

.img{
    display: block;
    margin: auto;
    width: 70%;
}

.top{
    list-style-type: none;
}



/* Tablet */

@media (min-width: 768px){
    .tituloalbum{
        font-size: 20px;
        margin-left:30px;
    }

    .artistname{
        font-size: 30px;
        margin-left: 30px;}

     .salidaalbum{
        font-size: 20px;
        
    }

    .hola{
        margin-top: 30px;
        margin-bottom: 30px;
       
    }

    .img{
        display: block;
        margin: auto;
        width: 70%;
    }
    
}

@media (min-width:1024px){
   
    .hola{
        margin-top: 30px;
        margin-bottom: 30px;
         display: grid;
       grid-template-rows: 1fr;
       
    }

    .arriba{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .descripcion{
        display: grid;
        grid-template-rows: 1fr 1fr 0fr ;
       
      

    }
    .img{
        width: 80%;
        margin-left: 37px;
    }

    .tituloalbum{
        font-size: 30px;
        text-align: center; 
        position: relative;
        margin: auto;
        display: inline;
       
    }
    .artistname{
        height: min-content;
        text-align: center;
        margin: auto;
       
    }
    .salidaalbum{
        text-align: center;
        display: inline;
        
    }
    
}

