.tituloalbum{
    text-align: left;
    font-size: 10px;
    margin-left: 20px;
}

.artistname{
    text-align: left;
    position: relative;
    top: 10px;
    margin-left: 20px;
    font-weight: bold;
    
   
}
.artist{
    text-decoration: none;
    color: white;
}

.artistname:hover {
    transform: translateY(2px);
}
.salidaalbum{
    text-align: left;
    margin-left: 20px;
}
.hola{
    width: auto;
}

.img{
    display: block;
    margin: auto;
    width: 20px;
}




/* Tablet */

@media (min-width: 768px){
    .tituloalbum{
        font-size: 20px;
        margin-left:30px;
    }

    .artistname{
        font-size: 30px;
        margin-left: 30px;}

     .salidaalbum{
        font-size: 20px;
        margin-left: 30px;
    }

    .hola{
        margin-top: 30px;
        margin-bottom: 30px;
       
    }

    .img{
        display: block;
        margin: auto;
        width: 20px;
    }
    
}

@media (min-width:1024px){
    .cuerpo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hola{
        margin-top: 30px;
        margin-bottom: 30px;
       
    }
    
    .descripcion{
       margin-top: 100px;
       margin-right: 200px;

    }
    .img{
        width: 80%;
        margin-left: 37px;
    }

    .tituloalbum{
        font-size: 50px;
        text-align: center;
        margin-left: 0px;
        margin-top: 160px;
    }
    .artistname{
        text-align: left;
        margin-left: 0px;
    }
    .salidaalbum{
        text-align: left;
        margin-left: 0px;
        margin-top: 40px;
    }
}

