
.body{
    display: grid;
}

.imagen {
    border-radius: 100%;
    display: block;
    margin: auto;
}

.boton {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    color: black;
    border: 0px solid;
    padding: 2px;
    background:white;
    border-radius: 30px;
    
   
    
  
}

.tracknombre {
    text-align: center;
}

.nombreartist {
    text-align: center;
}

.duracion {
    text-align: center;
}

.nombrealbum{
    text-align: center;
    
}


