/** MOBILE VERSION **/
body.body{
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.897), rgb(47, 47, 47));
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    font-weight: 400;
    height: 100%;
    opacity: 80%;
}

/* CONTAINER */
.gnr-container{
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 100%;
}
.generos{
    width:100%;
    height: 100%;
}
.gnr-div{
    margin-bottom: 25px;
    padding: 10px;
    background-color: #2b29299d ;
    border-radius: 10px;
}
.img-div{
    height: 70px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    background-position: center;
    width: 100%;
    border-radius: 10px ;
}
.gnr-title{
    margin: 0px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color:rgba(47, 47, 47, 0.404) ;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
}
a{
    text-decoration: none;
}
.main-title-div{
    background-color: rgba(161, 160, 160, 0.061);
    border-radius: 8px;
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}
.main-title{
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;
    margin:0px;
    text-align: center;
}
h2.first{
    margin-top: 0px;
}
.title{
    font-size: 2rem;
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-weight: bolder;
}
/** TABLET VERSION **/
/* Tablet */
@media (min-width: 768px){
    .content{
        grid-template-columns: repeat(4, 1fr);
    }
    .logo{
        width: 50%;
    }
    .gnr-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:repeat(17, 1fr) ;
        column-gap: 25px;
        row-gap: 25px;
    }
    .gnr-div{
    height: auto;
    margin-bottom: 0px;
    }
}

/** LAPTOP VERSION **/ 
@media (min-width:1024px){
    .gnr-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, 1fr);
        column-gap: 25px ;
    }
}
