/** MOBILE VERSION **/
/* CONTAINER */
.gnr-container{
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.generos{
    width:100%;
    height: 100%;
}
.img-div{
    height: 90px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    filter: op;
}
.gnr-title{
    margin: 0px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
/** TABLET VERSION **/
/* Tablet */
@media (min-width: 768px){
    .content{
        grid-template-columns: repeat(4, 1fr);
    }
    .logo{
        width: 50%;
    }
}

/** LAPTOP VERSION **/ 
@media (min-width:1024px){
    .gnr-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, 1fr);
        padding: 25px;
        column-gap: 10px ;
        row-gap: 10px;
    }
}
