body{
    background: linear-gradient(to bottom right, black, rgb(48, 46, 46),rgb(75, 74, 74));
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
}
.head{
    text-align: center;
    margin: 20px;
}
.logo{
    width: 320px;
    margin-bottom: 15px;
}
.img-barra{
    display: none;
}
.buscador{
    display: flex;
    background-color: rgba(187, 187, 187, 0.74);
    border-radius: 15px;
    height: 20px;
    align-items: center;
}
#lupa{
    margin-left: 10px;
}
.buscador-text{
    margin: 0px;
    font-weight: lighter;
    font-size: 10px;
    flex: 1;
}

/*container*/
.container{
    display: grid;
    grid-template-rows: repeat(3, 180px);
    padding: 40px;
    row-gap: 10px;
 
    
}
.foto-dj{
    width: 100%;
    margin: 0px;
}
.title-playlist{
   display: grid;
    grid-template-rows: 50px 108px;
    border-bottom: solid  rgba(27, 27, 27, 0.74) 0px;
}
.title{
    font-size: 40px;
    font-weight: 200;
    margin: 0px;
}





/*barra de navegación*/
.nav{
    height: 55px;
    background: linear-gradient(to bottom, #ff1e56, #ffac41);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.links{
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
}
#icon{
    font-size: 35px;
    color: white;
    text-align: center;
}
.detalle-icon{
    margin: 0px;
    font-size: 10px;
    text-align: center;
}
footer{
    border-top: solid  rgba(187, 187, 187, 0.74) 1px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}
footer p{
    margin: 0px;
    font-size: 10px;
}