
body{
    background: linear-gradient(to bottom right, black, rgb(48, 46, 46),rgb(75, 74, 74));
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.header{
    text-align: center;
    margin: 20px;
}
.logo{
    width: 320px;
    margin-bottom: 15px;
}
.img-barra{
    display: none;
}

.buscador{
    display: flex;
    background-color: rgba(187, 187, 187, 0.74);
    border-radius: 15px;
    height: 20px;
    align-items: center;
}
#lupa{
    margin-left: 10px;
}
.buscador-text{
    margin: 0px;
    font-weight: lighter;
    font-size: 10px;
    flex: 1;
}

.buscador{
    width: 100%;
    text-align: center;
    border-radius: 15px;
    background-color: grey;
}

.logo{
    width: 320px;
    padding: 20px;
    box-sizing: border-box;
    
}

.divcontainer{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;

}

.badbunny{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
}
.BPrincipal {
    
    border-radius: 50%;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}

.DescripcionBBprincipal {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    margin: auto;
}
.artista{
    text-align: right;
   font-weight: lighter;
}

.tittle{
    text-align: center;
    font-size: 100px;
    margin: auto;
   
}

.descripcionartista{
    text-align: center;
    position: relative;
    top: 50px;
    margin: auto;
}
.botones{
    text-align: center;
    position: relative;
    top: 50px;
    margin: auto;
}

.reproducir{
    background-color:white;
    border: none;
    font-size: 40px;
    border-radius: 7px;
}

.seguir{
    background-color: white;
    border: none;
    font-size: 40px;
    border-radius: 7px;
    
}





.hits{
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
}

.tittlehits{
    text-align: center;
    margin: auto;
}
.callaita{
    display: grid;
    grid-template-rows: 1fr 1fr;
   
}
.a{
    text-align: left ;
 
}

.b{
   text-align: left;
}
.c { 
    text-align: left;
}

.d{
    text-align: left;
}
.cancion1{
    width: 95%;
    margin: auto;
}

.lacancion{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.cancion2 {
   width: 95%;
   margin: auto;
}

.laultimavez{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.cancion3{
   width: 95%;
   margin: auto;
}

.yoperreosola{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.cancion4{
    width: 95%;
    margin: auto;
}






.albumes{
    grid-template-rows: 1fr 2fr;
}
.tittlealbumes{
   text-align: center;
   margin: 80px;
   box-sizing: border-box;
}
.dosalbumes{
    display: grid;
    grid-template-columns: 50% 50%; 
    box-sizing: border-box;
}
.YHL{
    background-color: coral;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}

.OASIS{
    background-color: coral;
    margin: auto;
   box-sizing: border-box;
   width: 70%;
}

.siempre{
    display: none;
}

.nometes{
    display: none;
}




.playlists{
    
    grid-template-rows: 1fr 1fr;
}

.tittleplaylists{
    text-align: center;
    margin: 80px;
    box-sizing: border-box;
}

.dosplaylists{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.playlist1{
    width: 70%;
    background-color: white;
    margin: auto;
}

.playlist2{
    width: 70%;
    background-color: white;
    margin: auto;
}

.playlist3{
display: none;
}

.playlist4{
display: none;
}

.playlist5{
display: none;
}







.otrosintereses{
    grid-template-rows: 1fr 1fr;
}
.tittleintereses{
    text-align: center;
    margin: 80px;
    box-sizing: border-box;
    position: relative;
    top: 50px;
}
.cincoartistas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}


.becky{
    box-sizing: border-box;
    width: 70%;
    border-radius: 50%;
    margin: auto;
}
.daddy{
    box-sizing: border-box;
    width: 70%;
    border-radius: 50%;
    margin: auto;
}
.lunay{
    display: none;
}

.ozuna{
    display: none;
}

.anuel{
    display: none;
}
/*barra de navegación*/
.nav{
    height: 60px;
    background: linear-gradient(to bottom, #ff1e56, #ffac41);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
div article a{
    text-align: center;
}
.links{
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
}
#icon{
    font-size: 35px;
    color: white;
    text-align: center;
}
.detalle-icon{
    margin: 0px;
    font-size: 10px;
    text-align: center;
}
/*footer*/
footer{
    margin: 80px;
    border-top: solid  rgba(187, 187, 187, 0.74) 1px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}
footer p{
    margin: 0px;
    font-size: 10px;
}
.deezer{
    color: rgba(255, 255, 255, 0.404);
}
.creditos{
    flex: 1;
    text-align: right;
    font-size: 8px;
}

@media only screen and (min-width: 768px){

    

    .dosalbumes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .siempre{
        display: grid;
        width: 70%;
        margin: auto;
        box-sizing: border-box;

    }
   .dosplaylists{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
   }
   .playlist3{
    display: grid;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
   }

   .cincoartistas{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
   }
   .lunay{
       display: grid;
      box-sizing: border-box;
      width: 70%;
      border-radius: 50%;
      margin: auto;
   }
}


@media only screen and (min-width: 1024px)
{
    .dosalbumes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nometes{
        display: grid;
        width: 70%;
        margin: auto;
        box-sizing: border-box;
}

.dosplaylists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
.playlist4{
    display: grid;
    width: 70%;
    background-color: white;
    margin: auto;
}

.playlist5{
    display: grid;
    width: 70%;
    background-color: white;
    margin: auto;
}
.cincoartistas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
}
.ozuna{
    display: grid;
    box-sizing: border-box;
    width: 90%;
    border-radius: 50%;
    margin: auto;
}
.anuel{
    display: grid;
    box-sizing: border-box;
    width: 90%;
    border-radius: 50%;
    margin: auto;
}

.becky{
    width: 90%;
}
.daddy{
    width: 90%;
}
.lunay{
    width: 90%;
}
}