body{
    background: linear-gradient(to bottom right, black, rgb(48, 46, 46),rgb(75, 74, 74));
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
}
/*mobile version*/
/*header*/
@media (min-width: 320px){
.header{
    text-align: center;
    margin: 20px;
}
.logo{
    width: 320px;
    margin-bottom: 15px;
}
.img-barra{
    display: none;
}

.buscador{
    display: flex;
    background-color: rgba(187, 187, 187, 0.74);
    border-radius: 15px;
    height: 20px;
    align-items: center;
}
#lupa{
    margin-left: 10px;
}
.buscador-text{
    margin: 0px;
    font-weight: lighter;
    font-size: 10px;
    flex: 1;
}
/*container*/
.container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 40px;
    row-gap: 20px;
}
.banner{
    width: 100%;
    margin: 0px;
}
.music-container{
    display: grid;
    grid-template-rows: 1fr 4fr;
    border-bottom: solid  rgba(187, 187, 187, 0.74) 1px;
}
.title{
    font-size: 40px;
    font-weight: 200;
    margin: 0px;
}
.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.music-artist{
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.music-artistas{
    display: none;
}
.music{
    display: grid;
    
}
.music-768{
    display: none;
}
.portadas{
    width: 120px;
    height: 120px;
}
.artist-title{
    margin: 0px;
    font-weight: 600;
    text-align: left;
    line-height: 18px;
}
.artist-info{
    margin: 0px;
    font-size: 15px;
    font-weight: 200;
    vertical-align: bottom;
}
/*barra de navegación*/
.nav{
    height: 60px;
    background: linear-gradient(to bottom, #ff1e56, #ffac41);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
div article a{
    text-align: center;
}
.links{
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
}
#icon{
    font-size: 35px;
    color: white;
    text-align: center;
}
.detalle-icon{
    margin: 0px;
    font-size: 10px;
    text-align: center;
}
/*footer*/
footer{
    border-top: solid  rgba(187, 187, 187, 0.74) 1px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
footer p{
    margin: 0px;
    margin-bottom: 5px;
    font-size: 10px;
}
.deezer{
    width: 150px;
}
.deezer{
    color: rgba(255, 255, 255, 0.404);
}
.creditos{
    flex: 1;
    text-align: right;
    font-size: 8px;
}

}

@media (min-width: 768px) /* Tablet */
{
    .content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px;
        gap: 20px;
    }

    .music-artistas{
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }

   .music-1024{
       display: none;
   }
   
    .container{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        padding: 30px;
        row-gap: 5px;
    }

    .music-768{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px;
        row-gap: 20px;
    }
    
    }
    @media (min-width:1024px) /*Compu*/ {

        .content{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding: 20px;
            gap: 20px;
        }
    
        .music-artistas{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        }
       
        .container{
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            padding: 30px;
            row-gap: 5px;
        }
    
        .music-1024{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding: 20px;
            row-gap: 20px;
        }
    }


